@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  font-family: sans-serif, "Lato";
  background: #404040;
  color: #dab05a;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(171,0,50);
  overflow-x: hidden;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  margin-top: 15px;
  text-decoration: none;
  font-size: 20px;
  color: #AFAFAF;
  display: block;
}
#logout {
  margin-top: 195px;
}

.sidenav a:hover {
  color: #FFC000;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
#logo {
  height: 18%;
  width: 93%;
}
#currentDate {
  position: absolute;
  left: 500px;
  top: -10px;
  font-size: 1rem;
}
#totalScheduled {
  color: #dc3d5d;
}